requests==2.27.1
nltk==3.7
tqdm==4.63.0
networkx==2.7.1
pyvis==0.1.9
gensim==4.1.2
pandas==1.4.1
matplotlib==3.5.1
scikit-learn==1.0.2
transformers==4.17.0
numpy==1.22.3
crf-pos==2.1.1
torch==1.10.2
allennlp==2.9.2
allennlp-models==2.9.0
